@font-face {
    font-family: 'Product Sans';
    src: url('fonts/Product Sans Regular.ttf') format('ttf');
	}
    *{
        font-family: "Product Sans Regular";
    color: rgb(255, 255, 255);}  
    
body{
    background: #5bc9f5;
background: linear-gradient(0deg,rgba(91, 201, 245, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}
h1{
    font-size: 3em;
    margin: 0em 0em 0em 0em;
    display: flex;
    justify-content: center;
    text-align: center;
   
}
h2{
    display: flex;
    justify-content: center;
    text-align: center;
}
hr{
    
    background-color: rgba(0, 0, 0, 0.2);
}
#panel{
    margin-top: 2em;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 3em 0.5em 2em 0.5em ;
    margin-inline: 10vw;
    border-radius: 0.5em;
    overflow-wrap: break-word;  
}
#botonera{   
}

.boton{
    border-radius: 0.25em;
    padding: 0.5em 0.25em 0.5em 0.25em;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-inline: 2em;
    text-align: center;
}


